
# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
build
# don't lint nyc coverage output
coverage
# common config and doc files; uncomment as appropriate
# editor-specific files
.vscode/
.idea/
# node modules
node_modules
# common config files
.prettierrc.json
.eslintrc.cjs
*.config.js
.babelrc
package.json
# markdown files
README.md
CHANGELOG.md
# project-specific files
template/_.eslintrc.cjs
template/_.prettierrc.json
template/_README.md
template/_CHANGELOG.md
template/_package.json
out/
.history/
