
# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
build
# don't lint nyc coverage output
coverage
# common config and doc files; uncomment as appropriate
.eslintrc.js
.eslintrc.cjs
template/_.eslintrc.cjs
# .babelrc
package.json
README.md
CHANGELOG.md
template/_CHANGELOG.md
# webpack.config.js
.prettierrc.json
# editor-specific files
.vscode/
.idea/
# project-specific custom files
out/
.history/
