# editor-specific files
.vscode/
.idea/
# node modules
node_modules
# common config files
.prettierrc.json
.eslintrc.js
*.config.js
.babelrc
package.json
# markdown files
README.md
CHANGELOG.md
# project-specific files
template/_.eslintrc.cjs
template/_.prettierrc.json
template/_README.md
template/_CHANGELOG.md
template/_package.json
templateCJS/_.eslintrc.js
templateCJS/_.prettierrc.json
templateCJS/_README.md
templateCJS/_CHANGELOG.md
templateCJS/_package.json
out/
.history/

