
node_modules
# common config and doc files; uncomment as appropriate
.prettierrc.json
.eslintrc.js
.eslintrc.cjs
# .babelrc
package.json
_package.json
README.md
# webpack.config.js
# project-specific files
template/_.eslintrc.js
template/_.prettierrc.json
out/

