
# editor-specific files
.vscode/
.idea/
node_modules
# common config and doc files; uncomment as appropriate
.prettierrc.json
.eslintrc.js
.eslintrc.cjs
# .babelrc
package.json
_package.json
README.md
# webpack.config.js
# project-specific files
template/_.eslintrc.cjs
template/_.prettierrc.json
template/_README.md
out/
.history/

